body {
	background-color: lightblue;
}

h1,h2,h3,h4,h5,h6,p{
	font-family: Georgia;
	font-style: italic; /* Cursive */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.3); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
}

nav{
	width: 80%;
	height: 80px;
	margin: 10px auto 0px auto;
	border:;
}

nav a{
	color:black;
}

nav a:hover{
	color:orange;
}

#current{
	text-decoration:underline;	
}

.navLink{
	position:relative;
	float:left;
	width:20%;	
	height:76px;
}

.container{
	position:relative;
	width: 80%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 3px black solid; /* border-width border-color border-style*/
}
