body {
    
}

h1,h2,h3,h4,h5,h6{
	font-family: Georgia;
	font-style: none; /* Cursive */
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
}

h1{
	font-family: Georgia;
	font-style: none; /* Cursive */
	text-shadow: 1px 1px 2px rgba(0,0,0,1); /* horizontal-shadow vertical-shadow blur color(red, green, blue, opacity) */
	text-align: center;
	color: red;

}

nav{
	width: 80%;
	height: 80px;
	margin: 10px auto 0px auto;
}

nav a{
	color:white;
}

nav a:hover{ /* How it looks when you hover with muose */
	color:red;
}

.bakgrund1{
	background-image: url("http://wallpapercave.com/wp/2u5OrmL.png");
    background-color: #cccccc;
}

#current{ 
	text-decoration:underline;	
}

.navLink{
	position:relative;
	float:left;
	width:15%;	
	height:76px;
}

.container{
	position:relative;
	width: 80%;
	margin: 0px auto 0px auto; /* top right bottom left */
	border: 5px white solid; /* border-width border-color border-style*/
	color: white
}
